
body{        
    background-color:lightblue;
}

header{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 10vh;
    background-image: linear-gradient(to top, transparent, rgba(0,0,0,60%));
    transition-property: background; 
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    z-index: 2;
}

nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: auto;
    flex-grow: 1;
    flex-shrink: 0; 
    max-width: 100vw;
    min-width: 800px;
    padding: 20px;
       
}

header:hover{
    background: rgba(115, 222, 255, 100%);

    .icon_n_title b i, .nav__items ul li a{
        color: #000000;
    }
}


.sections li a:hover{
    border-bottom: 5px solid rgb(255, 120, 71);
}

.nav__items{
    display: flex;
    min-width: 800px;
    max-width: 100%;
    flex-grow: 1;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px;
}

.nav__items ul{
    list-style-type: none;
}

.nav__items ul li a{
    border-radius: 5px;
    text-decoration: none;
    color: #000000;
}

.sections, .icon_n_title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1.5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex-shrink: 0; 
    font-size: 20px;
}

.icon_n_title{
    width: 200px;
}

.icon_n_title li{
    margin: 5px;
}

.icon_n_title b i, .nav__items ul li a{
    color: white;
}

.sections{
    min-width: 60vw;
    justify-content: flex-end;
}

.sections li{
    margin: 5px;
    font-style: italic;
}

.sections li a{
    padding: 10px;
}

.op_icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.op_icon i{
    transform: scale(1.3);
    color: slateblue;
}


.portrait{
    position: relative;
    height: 100vh;
}

.portrait .img{
    height: 100vh;
    position: relative;
    background-image: url("https://s3media.angieslist.com/s3fs-public/large-pool-yard.jpeg?impolicy=leadImage");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}

.text_n_button{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100vw;

    position: absolute;
    top: 30vh;

    text-align: center;

    transform: scale(0.9);
}

.text_n_button a, .text_n_button button{
    margin: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    color: #ffffff;
    min-width: 350px;
    flex-grow: 1;
    flex-shrink: 0;
}

.text_n_button a{
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 75%);
}

.text_n_button button{
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 0;
    min-width: 275px !important;
    background-color: rgb(0, 160, 250);
    border-color: transparent;
    border-radius: 10px;

    transition: transform 0.3s;
    transition-timing-function: ease-in-out;
}

.text_n_button button:hover{
    transform: scale(1.1);
}

footer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    background-color: white;
}

.Footer_Row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 10px;
}

.Footer_Row div{
    margin: 10px;
}

.Footer_Second_Row{
    margin-bottom: 20px;
}